.bg-navbar{
    background-color: var(--bl);
    
}

.logo{
    width:  50px;
}

.navbar-brand{
    transition: 0.4s;

}

.navbar-brand:hover{
    scale: 1.1;
}

.nav-link{
    color: var(--wh) !important;
    transition: 0.4s;
}

.nav-item{
    font-size: 20px;
    font-weight: 500;

    transition: 0.4s;
}



li{
    list-style: none;
}

